@import '../../styles/variables.scss';

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  // border: 1px solid red;
  height: 5rem;
}

.wrapper {
  width: 500px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  // border: 1px solid pink;

  a {
    text-decoration: none;
  }
}

.addBtn {
  padding: 0.6em 1.6em;
  border: 2px solid $mainFontColor;
  position: relative;
  overflow: hidden;
  background-color: transparent;
  text-align: center;
  text-transform: uppercase;
  transition: 0.3s;
  z-index: 1;
  color: $mainFontColor;
  cursor: pointer;

  &::before {
    content: '';
    width: 0;
    height: 300%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    background: $mainFontColor;
    transition: 0.5s ease;
    display: block;
    z-index: -1;
  }

  &:hover::before {
    width: 105%;
  }

  &:hover {
    color: #000;
  }
}

@media (max-width: $smScreen) {
  .container {
    height: 4rem;
  }
  .wrapper {
    width: 100%;
  }
}
