@import '../../styles/variables.scss';

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  // border: 1px solid red;
  height: 5rem;
}

.wrapper {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  // border: 1px solid pink;

  a {
    text-decoration: none;
  }
}

@media (max-width: $smScreen) {
  .wrapper {
    width: 100%;
  }
}
