@import '../../styles/variables.scss';

.container {
  color: $mainFontColor;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    margin: 1em;
  }
}

.wrapper {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(auto-fit, 10em);
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 2em;

  a {
    text-decoration: none;
  }
}
