@import '../../styles/variables.scss';

@keyframes toMiddleScreen {
  from {
    transform: translate(-70%);
  }
  to {
    transform: translate(0);
  }
}
.animation1 {
  animation-name: toMiddleScreen;
  animation-duration: 0.7s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}
.post {
  transform: translate(-70%);

  color: $mainFontColor;
  display: flex;
  flex-direction: column;
  // outline: 1px solid red;
  min-height: 60vh;
  max-width: 500px;
  margin: 1.5rem;
  overflow: hidden;

  .header {
    // outline: 1px solid red;
    display: flex;
    align-items: center;
    margin: 5px 0;
    img {
      aspect-ratio: 1/1;
      object-fit: cover;
      border-radius: 50%;
      width: 40px;
    }

    p {
      margin-left: 0.4rem;
      a {
        text-decoration: none;
      }
    }
  }
}

.photo {
  img {
    aspect-ratio: 1/1;
    object-fit: cover;
  }
}

.bottom {
  .likedBy {
    display: flex;
    align-items: center;
  }

  .time {
    font-size: smaller;
    color: rgb(175, 175, 175);
  }

  .wrapper {
    display: flex;
    justify-content: space-between;

    .category {
      display: flex;
      align-items: center;
      margin-right: 10px;
      a {
        text-decoration: none;
        background: linear-gradient(
            to right,
            rgba(0, 0, 0, 0),
            rgba(0, 0, 0, 0)
          ),
          linear-gradient(to right, $mainColor, $mainColor);
        background-size: 100% 3px, 0 3px;
        background-position: 100% 100%, 0 100%;
        background-repeat: no-repeat;
        transition: background-size 300ms, margin-bottom 150ms;

        &:hover {
          background-size: 0 3px, 100% 3px;
          margin-bottom: 3px;
        }
      }
    }
  }

  svg {
    height: 1.5em;
    width: 1.5em;
    margin: 20px 10px 10px 10px;
    cursor: pointer;
  }

  p {
    margin: 0 5px 5px 5px;
  }

  img {
    display: inline;
    border-radius: 50%;
    aspect-ratio: 1/1;
    width: 25px;
    margin-right: 5px;
  }
}

@media (max-width: $smScreen) {
  .post {
    width: 100vw;
    transform: translate(0);

    .header {
      margin: 5px;
    }
  }

  @keyframes toMiddleScreen {
    from {
      transform: translate(0);
    }
    to {
      transform: translate(0);
    }
  }
}
