@import '../../styles/variables.scss';

.post {
  color: $mainFontColor;
  display: flex;
  flex-direction: column;
  // outline: 1px solid red;
  min-height: 60vh;
  max-width: 500px;
  margin: 1.5rem;

  .header {
    // outline: 1px solid red;
    display: flex;
    align-items: center;
    margin: 5px 0;
    img {
      aspect-ratio: 1/1;
      object-fit: cover;
      border-radius: 50%;
      width: 40px;
    }

    p {
      margin-left: 1rem;
    }
  }
}

.photo {
  img {
    aspect-ratio: 1/1;
    object-fit: cover;
  }
}

.bottom {
  .likedBy {
    display: flex;
    align-items: center;
  }

  .time {
    font-size: smaller;
    color: rgb(175, 175, 175);
  }

  .wrapper {
    display: flex;
    justify-content: space-between;

    .category {
      display: flex;
      align-items: center;
      margin-right: 10px;
      a {
        text-decoration: none;
      }
    }
  }

  svg {
    height: 1.5em;
    width: 1.5em;
    margin: 20px 10px 10px 10px;
  }

  p {
    margin: 0 5px 5px 5px;
  }

  img {
    display: inline;
    border-radius: 50%;
    aspect-ratio: 1/1;
    width: 25px;
    margin-right: 5px;
  }
}

@media (max-width: $smScreen) {
  .post {
    width: 100vw;

    .header {
      margin: 5px;
    }
  }
}
